/vendor/
node_modules/
bootstrap/compiled.php
app/storage/
storage/*.key
public/storage
public/hot
public/build
public_html/storage
public_html/hot

/.vagrant
/.idea
/.vscode

npm-debug.log
yarn-error.log

Homestead.yaml
Homestead.json
auth.json

.env
.env.backup
.phpunit.result.cache


